<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div>
        <a href="/">Home</a> |
        <a href="/cinemas/add">Add New User</a> |
        <a href="/cinemas">All Users List</a>
    </div>
    <h1>
        <%= title %>
    </h1>